body {
	margin: 0;
	padding: 0;
}

.navbar {
	background-color: #999;
	height: 30px;
	width: 100%;
}
.navbar > a {
	height: 30px;
	line-height: 30px;
	padding: 5px;
	text-decoration: none;
	vertical-align: middle;
}
.navbar > a:hover {
	background-color: #AAA;
}
